Pandas Data Frame

In [4]:
import pandas as pd
groups=["Modern Web" , "DevOps" , "Cloud" , "big Data" , "security","自我挑戰組" ]
iromen=[56,8,19,14,6,71]
iromen_dict ={
     "groups" :groups,
    "iromen" :iromen
}
iromen_df = pd.DataFrame(iromen_dict)
iromen_df

       groups  iromen
0  Modern Web      56
1      DevOps       8
2       Cloud      19
3    big Data      14
4    security       6
5       自我挑戰組      71

In [5]:
print(iromen_df.ndim)
print(iromen_df.shape)
print(iromen_df.dtypes)

2
(6, 2)
groups    object
iromen     int64
dtype: object

In [10]:
print(iromen_df.sum())
print("\n")
print(iromen_df.iromen.sum())
print("\n")
print(iromen_df.mean())
print("\n")
print(iromen_df.median)
print("\n")
print(iromen_df.describe)

groups    Modern WebDevOpsCloudbig Datasecurity自我挑戰組
iromen                                           174
dtype: object


174


iromen    29.0
dtype: float64


<bound method DataFrame.median of        groups  iromen
0  Modern Web      56
1      DevOps       8
2       Cloud      19
3    big Data      14
4    security       6
5       自我挑戰組      71>


<bound method NDFrame.describe of        groups  iromen
0  Modern Web      56
1      DevOps       8
2       Cloud      19
3    big Data      14
4    security       6
5       自我挑戰組      71>

In [12]:
import pandas as pd
import numpy as np
groups=["Modern Web" , "DevOps" , np.nan , "big Data" , "security","自我挑戰組" ]
iromen=[56,8,19,14,6,np.nan]
iromen_dict ={
     "groups" :groups,
    "iromen" :iromen
}
iromen_df = pd.DataFrame(iromen_dict)
print(iromen_df.loc[:,  "groups"].isnull()) #判斷那些組的組名是遺失值
print(iromen_df.loc[:,  "iromen"].notnull()) #判斷那些組的鐵人數不是遺失值

0    False
1    False
2     True
3    False
4    False
5    False
Name: groups, dtype: bool
0     True
1     True
2     True
3     True
4     True
5    False
Name: iromen, dtype: bool

In [18]:
a=iromen_df.dropna()
b=iromen_df.fillna(0)
c=iromen_df.iromen.fillna(iromen_df.iromen.mean())

In [17]:
import pandas as pd
groups=["Modern Web" , "DevOps" , "Cloud" , "big Data" , "security","自我挑戰組" ]
iromen=[56,8,19,14,6,71]
#建立data frame
iromen_df = pd.DataFrame(iromen, columns = ["iromen"],index = groups)
iromen_df.sort_index()

            iromen
Cloud           19
DevOps           8
Modern Web      56
big Data        14
security         6
自我挑戰組           71

In [19]:
iromen_df.sort_values(by="iromen")

            iromen
security         6
DevOps           8
big Data        14
Cloud           19
Modern Web      56
自我挑戰組           71